@use '../../../styles/global' as *;

.f-tooltip-wrapper {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.mode {
    &-dark {
        --f-tooltip-background: #404040;
        --f-tooltip-text-color: #ffffff;
        --f-tooltip-border-color: #404040;
    }

    &-light {
        --f-tooltip-background: #ffffff;
        --f-tooltip-text-color: #000000;
        --f-tooltip-border-color: #ffffff;
    }
}

.f-tooltip-content {
    position: absolute;
    z-index: 1000;
    padding: 8px;
    border-radius: 4px;
    white-space: nowrap;
    background: var(--f-tooltip-background);
    color: var(--f-tooltip-text-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.f-tooltip-trigger {
    display: inline-block;
    position: relative;
}

.f-tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    z-index: 1000;

    &.arrow-top {
        border-width: 6px 6px 0;
        border-color: var(--f-tooltip-border-color) transparent transparent transparent;
    }

    &.arrow-bottom {
        border-width: 0 6px 6px;
        border-color: transparent transparent var(--f-tooltip-border-color) transparent;
    }

    &.arrow-left {
        border-width: 6px 0 6px 6px;
        border-color: transparent transparent transparent var(--f-tooltip-border-color);
    }

    &.arrow-right {
        border-width: 6px 6px 6px 0;
        border-color: transparent var(--f-tooltip-border-color) transparent transparent;
    }
}

.f-tooltip-inner {
    word-wrap: break-word;
    white-space: normal;
}
