// packages/fit-ui/styles/theme/var.scss

:root{
  --f-code-bg-color:#f6f6f7; // 代码块背景色
  --f-code-outside-bg-color:#ffffff; // 代码块外部背景颜色
  --f-code-outside-border-color:#e2e2e3; // 代码块外部边框颜色
  --f-code-lang-color:#0c0c0b; // 代码块语言颜色
  --f-code-outside-text-color: #000000; // 代码块外部文字颜色
}

[data-theme='dark'] {
    --f-code-bg-color:#24292e; // 代码块背景色
    --f-code-outside-bg-color:#1b1b1f; // 代码块外部背景颜色
    --f-code-outside-border-color:#2e2e32; // 代码块外部边框颜色
    --f-code-lang-color:#babab5; // 代码块语言颜色
    --f-code-outside-text-color: #ffffff; // 代码块外部文字颜色
}

[data-theme='light'] {
    --f-code-bg-color:#f6f6f7; // 代码块背景色
}