@use '../../../styles/global' as *;

$bgColor: v-bind(tagBgColor);
$textColor: v-bind(tagTextColor);
$borderColor: v-bind(tagBorderColor);
$closeColor: v-bind(tagCloseColor);
$closeHoverColor: v-bind(tagCloseHoverColor);
$closeSize: v-bind(tagCloseSize);
$closeBorderRadius: v-bind(tagCloseBorderRadius);
$closeMarginLeft: v-bind(tagCloseMarginLeft);
$disabledBgColor: v-bind(tagDisabledBgColor);
$disabledTextColor: v-bind(tagDisabledTextColor);
$disabledBorderColor: v-bind(tagDisabledBorderColor);

.tag {
  height: fit-content;
  display: inline-flex;
  align-items: center;
  padding: 4px 12px;
  font-size: 16px;
  line-height: 22px;
  border-radius: 3px;
  white-space: nowrap;
  cursor: pointer;
  background-color: $bgColor;
  color: $textColor;
  border: 1px solid $borderColor;
  box-sizing: border-box;

  .close-btn {
    margin-left: $closeMarginLeft;
    font-size: $closeSize;
    display: inline-flex;
    align-items: center;
    line-height: 1;
    position: relative;

    &.disabled {
      cursor: not-allowed;
      pointer-events: none;
    }

    &:hover {
      color: $closeColor;

      &::before {
        width: $closeSize;
        height: $closeSize;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-radius: $closeBorderRadius;
        background-color: $closeHoverColor;
      }

    }
  }

  &.round {
    border-radius: 16px;
  }

  &.disabled {
    background-color: $disabledBgColor;
    color: $disabledTextColor;
    opacity: 0.8;
    cursor: not-allowed;
    border: 1px solid $disabledBorderColor;
  }

  &.mini {
    padding: 2px 8px !important;
    font-size: 12px;
    line-height: 16px;

    .close-btn {
      font-size: 12px;
    }

    &.round {
      border-radius: 10px;
    }
  }

  &.small {
    padding: 2px 8px;
    font-size: 14px;
    line-height: 18px;

    &.round {
      border-radius: 14px;
    }
  }

  &.large {
    padding: 6px 16px;
    font-size: 18px;
    line-height: 26px;

    &.round {
      border-radius: 20px;
    }
  }
}
