@use '../../../styles/global' as *;

.fade-slide-enter-active,
.fade-slide-leave-active {
  transition: height 0.3s ease, opacity 0.3s ease;
}

.fade-slide-enter-from,
.fade-slide-leave-to {
  opacity: 0;
  height: 0;
}

.isFullScreen {
  .content {
    width: 100% !important;
    height: calc(100% - 44px) !important;
    overflow: auto !important;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      width: 0;
    }

    .lang {
      position: fixed !important;
      top: 50px !important;
    }
  }
}

.codeBox {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid var(--f-code-outside-border-color);
  border-radius: 5px;
  position: relative;
  background-color: var(--f-code-bg-color);

  ::v-deep(.el-tooltip__trigger) {
    display: flex;
  }

  .tooltip {
    display: flex;
  }

  .content {
    overflow: hidden;
    transition: height 0.6s ease, opacity 0.6s ease;
    position: relative;
    background-color: var(--f-code-bg-color);

    ::v-deep(.shiki) {
      background-color: transparent !important;
    }

    div[class*='language-'] {
      margin-top: 0;
      margin-bottom: 0;
      border-radius: 0;
    }

    .lang {
      position: absolute;
      right: 8px;
      top: 2px;
      color: var(--f-code-lang-color);
      z-index: 2;
    }
  }

  .code-hide {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 44px;
    box-sizing: border-box;
    border-top: 1px solid var(--f-code-outside-border-color);
    background-color: var(--f-code-outside-bg-color);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: -1px;
    color: var(--f-code-outside-text-color);
    cursor: pointer;
    position: sticky;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }

  .codeBox-header {
    width: 100%;
    height: 44px;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--f-code-outside-border-color);
    background-color: var(--f-code-outside-bg-color);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-sizing: border-box;
    color: var(--f-code-outside-text-color);

    &-title {
      font-weight: 600;
      letter-spacing: 2px;
    }

    &-tools {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 10px;
      cursor: pointer;

      .tools-item {
        font-size: 20px;
      }
    }
  }
}
